<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>PlantTracker needs access to your camera to take photos of your plants.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PlantTracker needs access to your photo library to select existing plant photos.</string>
</dict>
</plist>
